{% extends 'main/base.html' %}

<div id="content" class="main home-content">
    {% block content %}
    <h2>Bem-vindo ao LIMPA-BEM!</h2>
    <p>Somos uma empresa especializada em limpeza de ambientes e estamos prontos para atender suas necessidades. Oferecemos uma ampla variedade de serviços, incluindo limpeza residencial, comercial e industrial.</p>
    <p>Entre em contato conosco para agendar uma limpeza ou solicitar um orçamento.</p>
    <button>Entre em contato</button>
    {% endblock %}
  </div>